@using Console_core.Models.Models
@model IEnumerable<Todo>


<h2>Todo List</h2>

<div class="col-md-4">
    <form asp-action="ByDoneStatus" method="get" class="form-inline">
        <label for="doneStatus">Show tasks:</label>
        <select id="doneStatus" name="doneStatus" class="form-control">
            <option value="true">Done</option>
            <option value="false">Not Done</option>
        </select>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>

<div class="col-md-4">
    <form asp-action="ByAssignee" method="get">
        <div class="form-group">
            <label for="assigneeId">Filter by Assignee</label>
            <select id="assigneeId" name="assigneeId" class="form-control">
                <option value="">Select Assignee</option>
              
                @if (ViewBag.People != null)
                {
                    @foreach (var person in ViewBag.People)
                    {
                        <option value="@person.Id">@person.FirstName @person.LastName</option>
                    }
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Description</th>
            <th>Done</th>
            <th>Assignee</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Description</td>
                <td>@(item.Done ? "Done" : "Not Done")</td>
                <td>@item.Assignee.FirstName @item.Assignee.LastName</td>
                <td>
                    <a href="/Todo/Details/@item.Id">Details</a> |
                    <a href="/Todo/Edit/@item.Id">Edit</a> |
                    <a href="/Todo/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Todo/Create">Create New</a>
